<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
        <rewrite>
            <rules>

				<rule name="Imported Rule 2" enabled="true" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="^/favicon.ico$" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="true" />
                </rule>
            
				<rule name="Imported Rule 1" enabled="true" stopProcessing="true">
				  <match url="^.*" ignoreCase="false" />
				  <conditions logicalGrouping="MatchAny">
					<add input="{HTTP_USER_AGENT}" pattern="^w3af.sourceforge.net" />
					<add input="{HTTP_USER_AGENT}" pattern="dirbuster" />
					<add input="{HTTP_USER_AGENT}" pattern="nikto" />
					<add input="{HTTP_USER_AGENT}" pattern="SF" ignoreCase="false" />
					<add input="{HTTP_USER_AGENT}" pattern="sqlmap" />
					<add input="{HTTP_USER_AGENT}" pattern="fimap" />
					<add input="{HTTP_USER_AGENT}" pattern="nessus" />
					<add input="{HTTP_USER_AGENT}" pattern="whatweb" />
					<add input="{HTTP_USER_AGENT}" pattern="Openvas" />
					<add input="{HTTP_USER_AGENT}" pattern="jbrofuzz" />
					<add input="{HTTP_USER_AGENT}" pattern="libwhisker" />
					<add input="{HTTP_USER_AGENT}" pattern="webshag" />
					<add input="{HTTP_ACUNETIX_PRODUCT}" pattern="^WVS" ignoreCase="false" />
				  </conditions>
				  <action type="Redirect" redirectType="Permanent" url="/" />
				</rule>
				
		  </rules>
        </rewrite>
		<security>
            <requestFiltering>
                
                <fileExtensions>
                    <add fileExtension=".htm" allowed="false" />
                    <add fileExtension=".html" allowed="false" />
                    <add fileExtension=".shtml" allowed="false" />
                    <add fileExtension=".shtm" allowed="false" />
                    <add fileExtension=".stm" allowed="false" />
                    <add fileExtension=".asp" allowed="false" />
                    <add fileExtension=".aspx" allowed="false" />
                    
                    <add fileExtension=".dwt" allowed="false" />
                    <add fileExtension=".htt" allowed="false" />
                    <add fileExtension=".inc" allowed="false" />
                    <add fileExtension=".hta" allowed="false" />
                    <add fileExtension=".htc" allowed="false" />
                    <add fileExtension=".jsp" allowed="false" />
                    <add fileExtension=".cfm" allowed="false" />
                    <add fileExtension=".phtml" allowed="false" />
                    <add fileExtension=".php2" allowed="false" />
                    <add fileExtension=".php3" allowed="false" />
                    <add fileExtension=".php4" allowed="false" />
                    
                    <add fileExtension=".asmx" allowed="false" />
                    <add fileExtension=".vbs" allowed="false" />
                    
                </fileExtensions>
            </requestFiltering>
        </security>
		
		<directoryBrowse enabled="false" />

    </system.webServer>
	
</configuration>
